* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background-color: turquoise;
    color: black;
  }

  /* Not sure why code below (pre:active) doesnt work */
.overview pre:active {
    user-select: all;
  }

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

main {
    display:flex;
    flex-wrap: wrap;
    background-color: black;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 60px;
    color: blueviolet;
    background-color: black;
    text-align: center;
}

.card{
    color: blueviolet;
    background-color: black;
    border: 2px;
    border-color:lavender;
    flex: 1 0 0;
    padding: 12px;
    text-align: start;
    border-style: dashed;
    border-width: 1px;
    font-size: 40px;
    margin: 10px;
}

.card header {
    padding: 20px;
    background: linear-gradient(45deg, black, transparent);
    color: blueviolet;
    border: 2px solid lavender;
    border-radius: 10px;
    position: relative;
}


.card-content {
    font-size: 20px;
    text-align: left;
}

.overview {
    font-size: 20px;
    color: lavender;
}

.code {
    font-size: 25px;
    color: lavender;
    font-family: monospace;
    background-color: blueviolet;
    border-radius: 10px;
}

.card:hover {
    background-color: lavender;
}

footer {
    color: blueviolet;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
    .main-header {
        background-color: darkslategrey;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
    .main-header {
        background-color: lightslategray;
    }
}

